# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environments
.env
*.env

# Airflow
airflow/logs/
airflow/dags/__pycache__/
airflow/airflow.db

# Docker
*.pid
*.sock

# Reports / data
reports/
data/
*.parquet
*.csv
*.json
*.txt

# IDE / Editor
.idea/
.vscode/

# Airflow / Postgres data
airflow_data/
logs/
pgdata/
dump.sql

# Docker build artifacts
*.log
